<div class="container">
  <div class="row">
   <h1>商品一覧</h1>
  </div>
  
    <div class="row">
     <% @items.each do |item| %>
     <div class="col-lg-2 col-md-3">
      <%= image_tag item.get_image(400,400),class:"w-100" %>
      <p><%= link_to item.name,item_path(item) %></p>
      <p><%= item.price %></p>
      </div>
  <% end %>
    </div>
</div>